{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="{% static 'js/echarts.js' %}"></script>
    <title>多维可视化</title>
</head>
<body>
<form action = "{% url 'SampleManage:mulvisualize' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="提交"/>
</form>

<div id="main" style="width:1980px;height:850px;"></div>
<script type="text/javascript">
    var mycharts = echarts.init(document.getElementById('main'));
    var points = {{ points|safe }};
    var anomalypoints = {{ anomalypoints|safe }};
    var option = {
        title:{
            text:"{{ nodelists }}多维可视化"
        },
        legend:{
            data:['正常点','异常点']
        },
        tooltip:{
            trigger:'axis',
        },
        dataZoom:[{
                type:'inside',
                start: 0,
                end: 100,
            },
            {
            start: 0,
            end: 10,
            handleSize: '80%',
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
             }
            }],
        xAxis:{},
        yAxis:{},
        series:[
            {
                symbolSize:2,
                name:'正常点',
                data:points,
                type:'scatter',
            },
            {
                name:'异常点',
                data:anomalypoints,
                type:'scatter',
            },
        ]
    };
    mycharts.setOption(option);
</script>
</body>
</html>