{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/echarts.js' %}"></script>
    <title>预测结果可视化</title>
</head>
<body>
<form action = "{%url 'SampleManage:predict' %}" method="post">
  {% csrf_token %}
{#    nodename: {{ form.nodenames }} {{ form.errors.nodenames.0 }}#}
{#    metric:{{ form.metrics }} {{ form.errors.metrics.0 }}#}
{#    teststart:{{ form.teststart }} {{ form.errors.teststart.0 }}#}
{#    testend:{{ form.testend }} {{ form.errors.testend.0 }}#}
    {{ form }}
    <input type="submit" value="提交">
</form>
<div id="main" style="width:1980px;height:850px;"></div>
<script type="text/javascript">
    var mycharts = echarts.init(document.getElementById('main'));
    var x = {{ x|safe}};
    var data = {{ y|safe }};
    var predictdata = {{ z|safe }};
    var  error = {{ e|safe }};
    {#var anomalymarkpoints ={{ anomalymarkpoints|safe }};#}
    var anomalypoints = {{ anomalypoints|safe }};
    var option = {
         title: {
            text: "{{ nodename }}-{{ metric }}"
            },
            legend: {
             data:['真实值','预测值','偏差','异常候选值'],
            },
            tooltip: {
                {#trigger:'axis',#}
            },
            dataZoom:[{
                type:'inside',
                start: 0,
                end: 100,
            },
            {
            start: 0,
            end: 10,
            handleSize: '80%',
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
             }
            }],
            xAxis: {
                type: 'category',
                data: x
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'真实值',
                    data: data,
                    type: 'line',
                    {#markPoint:{#}
                    {#    symbol:'circle',#}
                    {#    symbolSize:10,#}
                    {#    label:{#}
                    {#        show:false,#}
                    {#    },#}
                        {#itemStyle:{#}
                        {#    color:rgb(128,0,0)#}
                    {##}
                    {#    data:anomalymarkpoints#}
                    {#    },#}
                },
                {
                    name:'预测值',
                    data: predictdata,
                    type:'line'
                },
                {
                    name:'偏差',
                    data:error,
                    type:'line'
                },
                {
                    name:'异常候选值',
                    data :anomalypoints,
                    type:'scatter'
                },
            ],
};
    mycharts.setOption(option);
    mycharts.on('click', function (param) {
            var myselect = document.getElementById('nodenameid');
            var index = myselect.selectedIndex;
            var nodename = myselect.options[index].text;
            var timestamp = param.name;
            var path = nodename + '/' + timestamp;
            window.open((path + '/retag'));
            {#window.open ((path+'/retag'), '', 'height=200, width=700, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')#}
        });
</script>
<p>ME:{{ evamethod.me }}</p>
<p>MAE:{{ evamethod.mae }}</p>
<p>RMSE:{{ evamethod.rmse }}</p>
<p>MPE:{{ evamethod.mpe }}</p>
<p>MAPE:{{ evamethod.mape }}</p>
</body>
</html>